<div class = "cofinancingBar">
  <h3>co-financiado por:</h3>

  <img class="secondCofinancingBar" src="assets/images/barra_cofin_FEEI_branco_v3.svg" >
</div>

<div class="swiper-container mySwiper mb-160 top-52">
  <div class="swiper-wrapper">
    <ng-container *ngFor="let slide of slideShow">
      <div class="swiper-slide" style="background-image: url({{slide}})"></div>
    </ng-container>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title mb-96">{{ "Home.Resume.Title" | translate }}</h1>
    <p class="text">{{ "Home.Resume.P1" | translate }}</p>
    <p class="text">{{ "Home.Resume.P2" | translate }}</p>
  </div>
</div>

<div class="card text-center mb-96">
  <a [routerLink]="['/history']" class="btn btn-outline-secondary"
    >{{ "Common.KnowMoreAboutUs" | translate }}</a
  >
</div>




<div class="card text-center mb-144">
  <div class="card-body video-card" style="background-image: url('assets/images/photo_video.jpg')">
    <div class="youtube-video-play" >

      <img class="play-circle mt-96 mb-72" src="assets/images/play-circle.svg" />
      <h1 class="uppercase" style>{{ "Home.VideoTitle" | translate }}</h1>
    </div>

    <div class="youtube-video">
      <!--<div id="ytplayer" ></div>-->
      <iframe
      id="video"
      width="100%"
      height="100%"
      allow="autoplay"
      frameborder="0" allowfullscreen
      src="https://www.youtube.com/embed/3eD377crY1o"
    >
    </iframe>
    </div>
  </div>
</div>

<div class="card text-center mb-72">
  <div class="card-body">
    <h1 class="card-title mb-144">
      {{ "Home.HousesHeader.Title" | translate }}
    </h1>
  </div>

  <div class="card-house">
    <div
      class="row no-gutters mb-72"
      *ngFor="let house of houses; let i = index"
    >
      <div
        class="col-md-4"
        [ngClass]="i % 2 !== 0 ? 'order-md-1' : 'order-md-2'"
      >
        <div class="card-body house-card-body">
          <h2 class="yellow-background mb-32">{{ house.Tipology }}</h2>
          <h2 class="uppercase">{{ house.Name }}</h2>
          <div class="text description">{{ house.Description }}</div>
          <a *ngIf="i != houses.length-1"
            [routerLink]="['/houses', i+1]"
            class="btn btn-outline-secondary link-button"
            >{{ "Common.SeeMore" | translate }}</a
          >


          <a *ngIf="i == houses.length-1"
            [routerLink]="['/contacts']"
            class="btn btn-outline-secondary link-button"
            >{{ "Common.SeeMore2" | translate }}</a
          >
        </div>
      </div>
      <div
        class="col-md-8"
        [ngClass]="i % 2 !== 0 ? 'order-md-2' : 'order-md-1'"
      >
        <div
          class="house-item"
          style="background-image: url({{house.ImagePath}})"
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title mb-144">{{ "Home.Places.Title" | translate }}</h1>
    <div class="gallery">
      <div class="item" *ngFor="let place of places; let i = index">
        <div
          class="image mb-16"
          style="background-image: url({{place.ImagePath}})"
        ></div>
        <h3 class="uppercase">{{ place.Title }}</h3>
        <div class="place-description text">{{ place.Tooltip }}</div>
      </div>
    </div>
    <!--
      <a [routerLink]="['/places']" class="btn btn-outline-secondary"
      >{{ "Common.KnowMoreAboutActivities" | translate }}</a
      >
    -->
  </div>
</div>

<!--

<button
  id="openModal"
  #openModal
  [hidden]="true"
  data-toggle="modal"
  data-target="#openingModal"
></button>
<div
  class="modal modal-opening"
  id="openingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="logo mb-32 text-center">
          <img class="logo" src="assets/images/logo-menu.svg">
        </div>
        <h2 class="mb-32">{{"Home.OpeningModal.Title" | translate }}</h2>
        <p>
          {{"Home.OpeningModal.Tooltip" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

  <button
  id="sponsorshipsModal"
  #sponsorshipsModal
  [hidden]="true"
  data-toggle="modal"
  data-target="#openSponsorshipsModal"
></button>
<div
  class="modal modal-bottom"
  id="openSponsorshipsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>

        <img class="cofinancingBar" src="assets/images/cofinancingBarWhite.svg" >
      </div>
    </div>
  </div>
</div>



-->
