@import "../../style/mixins.scss";

footer {

  height: 100px;
  bottom: 0;
  width: 100%;

  .row {
    margin-left: 0;
  }

  .item {
    padding: 20px;
    height: 286px;
    width: 100%;
    background-color: $green-dark;
    color: $white;

    @media (max-width: 768px) {
      height: fit-content;
    }

    .text {
      font-family: "Sarabun-Regular", sans-serif;
    }
  }

  .second-item {
    padding: 20px;
    height: 96px;
    width: 100%;
    background-color: $green-light;

    @media (max-width: 768px) {
      height: fit-content;
    }
  }
}

a {
  color: $white;
  &:hover {
    background-color: $green-dark;
    color: $white;
  }
}

p {
  margin-bottom: 8px;
  display:inline;
  color: $white;
}

.p-yellow{
  color: $yellow;
}

.btn-outline-secondary {

  border: 1px solid $white;
}


.cofinancingBar{
  margin: 0 auto;
  display: flex;
  height: 80px;
  max-width: 500px;
  @media (min-width:  769px) and (max-width: 1024px) {
    height: 33px;

  }

  @media (max-width: 768px) {
    width: 90%;

  }
}


.badge-pateo-lima{
  margin: 0 auto;
  display: flex;
  height: 220px;

  @media (max-width: 1024px) {
    width: 80%;
    justify-content: center;
  }

  @media (max-width: 768px) {
    width: 80%;
    justify-content: center;
  }
}


.contacts {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


  @media (max-width: 1024px) {
    position: relative;
    margin-top:32px;

  }
}

h3 {
  color: $white;
}


.imgContainer{
  float:left;
  @media (max-width: 1024px) {
    float:none;
    height: auto;
  }
}

.rules{
  ul li{
    display: inline;
  }

  a:hover {
    background-color: $green-light;
    color: $green-dark
  }

  @media (max-width: 1024px) {
    margin-bottom: 16px;
  }
}

.col-md-2{
  justify-content: center;
  display: flex;

  @media (max-width: 1024px) {
    justify-content: none;
    display: inline;
  }
}

.project-file{
  position: absolute;
  margin: 0 auto;
  right: 16px;

  @media (max-width: 1024px) {
    position:relative;
    right: 0;
  }
}
