<div class="card">
  <div class="card-body ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 first-item" style="background-image: url(assets/images/quinta/quinta.jpeg)">

        </div>
        <div class="col-lg-6 second-item">
          <div class = "info">
            <h2 class= "mb-48">{{"Contacts.Title" | translate}}</h2>

            <div class= "mb-32"><p>{{ "Footer.ReservationsText" | translate }}</p>
            </div>
            <p class="text"> Email {{"Footer.Email" | translate}}</p>
            <p class="text"> {{"Footer.FixedPhoneLabel" | translate}} {{"Footer.FixedPhone" | translate}}</p>
            <div class= "mb-16"><p class="text"> {{"Footer.PhoneLabel" | translate}} {{"Footer.Phone" | translate}}</p></div>
            <div class= "mb-16"><p class="text"> {{"Footer.PhoneWarning" | translate}}</p></div>

            <a href="{{'Contacts.BookingLink' | translate}}" target="_blank" class="btn btn-outline-secondary mb-72">{{ "Contacts.BookingButtonText" | translate }}</a>

            <h3>{{"Footer.AddressTitle" | translate}}</h3>
            <p class="text"> {{"Contacts.Address" | translate}} {{"Contacts.SecondAddress" | translate}}</p>
            <div class= "mb-16">
              <p class="text"> {{"Contacts.PostalCode" | translate}}</p>
            </div>


            <a href="{{'Contacts.GoogleMapsLink' | translate}}" class="btn btn-outline-secondary">{{ "Contacts.GoogleMapsButtonText" | translate }}</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
