@import "fonts/fonts-declarations.scss";
@import "colors.scss";

.card {
  border: none;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
.card-body {
  background-color: $white;
  margin-top: 0;
  .card-title {
    text-align: center;
  }

  .text {
    color: $grey-light;
    font-family: "SourceSerifPro-Regular", serif;
    padding-bottom: 16px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 16px;
    font-weight: 400;
    line-height: 27px;

    &.place-description {
      width: 100%;
      text-align: left;
      margin-top: 0;
    }

    @media (max-width: 1024px) {
      width: 80%;
    }

    @media (max-width: 768px) {
      width: 90%;
    }

    &.description {
      width: 85%;
      padding: 8px;
      margin: 16px;
    }
  }
}

.btn-outline-secondary {
  border-radius: 0;
  margin: 0 auto;
  width: fit-content;
  text-transform: uppercase;
  font-family: "Sarabun-Bold", sans-serif;
  justify-content: center;
  display: flex;
  letter-spacing: 3px;
  white-space: normal;
  overflow: hidden;
  padding: 16px;

  &:hover {
    color: $white;
    background-color: $grey-dark;
  }
}

.yellow-background {
  background-color: $yellow;
  padding: 8px;
}

h1 {
  color: $grey-dark;
  font-family: "Sarabun-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

h2 {
  color: $grey-dark;
  font-family: "Sarabun-Bold", sans-serif;
  font-size: 28px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h3 {
  color: $grey-dark;
  font-family: "Sarabun-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

rect {
  fill: $green-light;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    height: 384px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.main-card {
  height: 100vh;
  background-color: $green-light;

  @media (max-width: 1024px) {
    height: 384px;
  }
}

.mb-16 {
  margin-bottom: 16px;
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.mb-32 {
  margin-bottom: 32px;
  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.mb-48 {
  margin-bottom: 48px;
  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.mb-72 {
  margin-bottom: 72px;
  @media (max-width: 768px) {
    margin-bottom: 48px;
  }
}

.mb-96 {
  margin-bottom: 96px;
  @media (max-width: 768px) {
    margin-bottom: 48px;
  }
}

.mb-144 {
  margin-bottom: 144px;
  @media (max-width: 768px) {
    margin-bottom: 72px;
  }
}

.mb-192 {
  margin-bottom: 192px;
  @media (max-width: 768px) {
    margin-bottom: 112px;
  }
}

.mt-96 {
  margin-top: 96px;
  @media (max-width: 768px) {
    margin-top: 48px;
  }
}

.mt-48 {
  margin-top: 48px;
  @media (max-width: 768px) {
    margin-top: 24px;
  }
}

.top-100 {
  top: 100px;
  @media (max-width: 768px) {
    top:58px;
  }
}

.mt-240 {
  margin-top: 240px;
  @media (max-width: 768px) {
    margin-top:112px;
  }
}

.top-52 {
  top: 52px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.mt-0 {
  margin-top: 0px;
}

.green-light-background {
  background-color: $green-light;
}

.green-dark-background {
  background-color: $green-dark;
}

p {
  font-family: "SourceSerifPro-Regular", serif;
  color: $grey-dark;
}

a {
  margin-top: 0;
}

.modal-content {
  border-radius: 0;

  .modal-header {
    border-bottom: none;
    height: 48px;

    .close {
      font-size: 32px;
      font-weight: 0;
    }
  }

  .modal-body {
    padding-right: 56px;
    padding-left: 56px;
    text-align: center;
    justify-content: center;
    .logo {

        @media (max-width:768px) {
          width: 248px;
         }

      height: 80px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.modal-opening {
  z-index: 9999;
}

.modal-bottom {

  z-index: 8888;
  color: $green-light;
  .modal-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100% !important;
    margin: 0;

    @media (max-width: 768px) {
      height: fit-content;
    }

    .modal-content {
      border: none;

      .modal-body {
        padding:16px;
        padding-right:32px;
        padding-left:32px;
        .close {
          @media (max-width: 768px) {
            margin-top: 0;
          }

          font-size: 32px;
          font-weight: 0;
          text-shadow: none;

          &:focus,
          &:active {
            outline: none !important;
            box-shadow: none;
          }
        }
        .cofinancingBar{
          margin: 0 auto;
          display: flex;
          height: 80px;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }

      border-radius: 0;
      background-color: $green-light;
    }
  }
}

