@import "../../../assets/style/mixins.scss";
footer {
  height: 100px;
  bottom: 0;
  width: 100%;

  .row {
    margin-left: 0;
  }

  .item {
    padding: 20px;
    height: 286px;
    width: 100%;
    background-color: $green-dark;
    color: $white;

    @media (max-width:1024px) {
      height: fit-content;
    }

    .text {
      font-family: "Sarabun-Regular", sans-serif;
    }
  }

  .second-item {
    padding: 20px;
    height: 72px;
    width: 100%;
    background-color: $green-light;

    @media (max-width: 768px) {
      height: fit-content;
    }
  }
}

a {
  color: $white;
  user-select: none;
  &:hover {
    background-color: $green-dark;
    color: $white;
  }
}

p {
  margin-bottom: 8px;
  display: inline;
  color: $white;
  word-break: break-word;
}

.p-yellow {
  color: $yellow;
}

.btn-outline-secondary {
  border: 1px solid $white;
  margin-left: 0;

  @media (max-width: 768px) {
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.cofinancingBar {

  display: block;
  height: 80px;
  float: right;
  margin-right: 32px;

  max-width: 500px;
  @media (min-width: 1025px) and (max-width: 1366px) {
    height: 50px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    height: 33px;
    margin: 0 auto;
    float: none;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    width: 90%;
    margin: 0 auto;
    float: none;
    margin-bottom: 16px;
  }
}

.badge-pateo-lima {
  user-select: none;
  margin: 0 auto;
  display: flex;
  height: 220px;

  @media (max-width: 1024px) {
    width: 80%;
    justify-content: center;
  }

  @media (max-width: 768px) {
    width: 80%;
    justify-content: center;
  }
}

.contacts {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  @media (max-width: 1024px) {
    position: relative;
    top: 40%;
    margin-top: 32px;;
  }

  p {
    -webkit-touch-callout: initial !important; /* iOS Safari */
    -webkit-user-select: initial !important; /* Safari */
    -khtml-user-select: initial !important; /* Konqueror HTML */
    -moz-user-select: initial !important; /* Old versions of Firefox */
    -ms-user-select: initial !important; /* Internet Explorer/Edge */
    user-select: initial !important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}

h3 {
  user-select: none;
  color: $white;
}

.imgContainer {
  float: left;
  @media (max-width: 1024px) {
    float: none;
    height: auto;
  }
}

.rules {
  display: flex;
  margin-bottom: 0;
  ul li {
    display: inline;
    text-transform: uppercase;
    font-family: "Sarabun-Regular", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
  
    svg {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  a:hover {
    background-color: $green-light;
    color: $green-dark;
  }

  @media (max-width: 1024px) {
    margin-bottom: 16px;
  }
}

.col-md-2 {
  justify-content: center;
  display: flex;
  @media (max-width: 1024px) {
    justify-content: none;
    display: inline;
  }
}

.col-md-3 {
  justify-content: center;
  display: flex;

  @media (max-width: 1024px) {
    justify-content: none;
    display: inline;
  }
}




.project-file {
  position: absolute;
  margin: 0 auto;
  right: 16px;
  font-size: 13px;
  color: white;
  padding: 8px;

  @media (max-width: 768px) {
    position: relative;
    right: 0;
  }
}

.bookingLink {
 float:left;
  @media (max-width:768px) {
    float: none;
  }
}
