<div class="card text-center mb-192 top-100">
  <div class="card-body main-card">
    <h1 class="card-title">{{ this.houseName | translate }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="card mb-96">
      <div class="card-body">
        <div class="text">
          <h2 class="card-title text-left mb-48">
            {{ this.houseName | translate }}
          </h2>
          <p class="house-description">
            {{ this.fullDescription | translate }}
          </p>
          <h3 class="card-title text-left">{{ "Farm.Title" | translate }}</h3>
          <p class="house-description">{{ "Farm.Description" | translate }}</p>
          <a href="#" class="btn btn-outline-secondary link-button uppercase"
            >{{ "Common.KnowMoreAboutActivities2" | translate }}</a
          >
        </div>
      </div>

      <div class="card-body prices green-dark-background">
        <h2 class="card-title card-title-prices">
          {{ "Common.Prices" | translate }}
        </h2>
        <div *ngFor="let option of options">
          <h3 class="service">{{ option.Name }}: </h3>
          <h3 class="service price">{{ option.Price }}</h3>
        </div>
      </div>
      <div class="card-body prices mt-0 green-light-background">
        <h3 class="card-title card-title-prices">
          {{ "Common.PersonalizedServices" | translate }}
        </h3>
        <div *ngFor="let personalizedService of personalizedServices">
          <p class="service">{{ personalizedService.Name }}: </p>
          <p class="service price">{{ personalizedService.Price }}</p>
        </div>
        <div class="line"></div>
        <h3 class="card-title card-title-prices">
          {{ "Common.WelfareActivities" | translate }}
        </h3>
        <div *ngFor="let welfareActivity of welfareActivities">
          <p class="service">{{ welfareActivity.Name }}: </p>
          <p class="service price">{{ welfareActivity.Price }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card left-card">
      <div class="card-body text">
        <div class="left-card-text">
          <h2 class="card-title text-left mb-48">
            {{ "Common.Accommondations" | translate }}
          </h2>
          <ul>
            <div *ngFor="let accommodation of accommodations">
              <li>{{ accommodation.Name }}</li>
            </div>
            <div *ngFor="let common of commonAccommodations">
              <li>{{ common.Name }}</li>
            </div>
          </ul>
          <h3 class="card-title text-left">
            {{ "Common.Outside" | translate }}
          </h3>
          <ul>
            <div *ngFor="let outdoor of outdoorAccommodations">
              <li>{{ outdoor.Name }}</li>
            </div>
          </ul>

          <h3 class="card-title text-left">
            {{ "Common.Services" | translate }}
          </h3>
          <ul>
            <div *ngFor="let service of services">
              <li>{{ service.Name }}</li>
            </div>
          </ul>

          <h3 class="card-title text-left">
            {{ "Common.AdditionalServices" | translate }}
          </h3>
          <ul>
            <div *ngFor="let service of additionalServices">
              <li>{{ service.Name }}</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body card-body-gallery">
    <h2 class="card-title card-title-gallery">
      {{ "Common.PhotoGallery" | translate }}
    </h2>
  </div>
</div>

<div class="swiper-container mySwiper">
  <div class="swiper-wrapper">
    <ng-container *ngFor="let image of images; ; let i = index">
      <div class="swiper-slide" (click)="openImage(i)" style="background-image: url({{image}})"></div>
    </ng-container>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>


<button
  id="openModal"
  #openModal
  [hidden]="true"
  data-toggle="modal"
  data-target="#openingModal"
></button>
<div
  class="modal modal-opening"
  id="openingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="swiper-container swiper-container-xxl mySwiper-xxl">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let image of images; let i = index">
              <div class="swiper-slide " style="background-image: url({{image}})"></div>
            </ng-container>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>
  </div>
</div>
