.container{
  text-decoration: none;
  margin-top: 70px;
  width: 100%;
  max-width: 100%;
  padding: 0;
  height: 100vh;
}


.card-resume{
  height: 500px;
  width: 100%;
  border: none;
}

.card-body{
  background-color: #F0F0F0;
  height: 500px
}

h2{
  text-decoration: none;
  text-align: center;
  background-color: #F0F0F0;
}


.text{
  margin: 0 auto;
  width: 80%;
  font-size: medium;
  color:#777777;
}
