<div class="card">
  <div class="card-body ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 first-item" style="background-image: url(assets/images/quinta/quinta_2.jpg)">

        </div>
        <div class="col-lg-6 second-item">
          <div class = "info">
            <h2 class= "mb-48">RESERVAS</h2>

            <div class= "mb-32"><p class="text"> Para efetuar reservas contacte-nos por e-mail, telefone ou aceda à plataforma de reservas Booking.com</p>
            </div>
            <p class="text"> Email {{"Footer.Email" | translate}}</p>
            <p class="text"> Tlf. {{"Footer.FixedPhone" | translate}}</p>
            <div class= "mb-16"><p class="text"> Tel. {{"Footer.Phone" | translate}}</p></div>

            <a href="{{'Contacts.BookingLink' | translate}}" class="btn btn-outline-secondary mb-72">{{ "Contacts.BookingButtonText" | translate }}</a>

            <h3>Morada</h3>
            <p class="text"> {{"Contacts.Address" | translate}}</p>
            <div class= "mb-16">
              <p class="text"> {{"Contacts.PostalCode" | translate}}</p>
            </div>


            <a href="{{'Contacts.GoogleMapsLink' | translate}}" class="btn btn-outline-secondary">{{ "Contacts.GoogleMapsButtonText" | translate }}</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
