@import "../../style/mixins.scss";

.main-card {
  height: 680px;
  background-color: $green-light;

  @media (max-width: 1024px) {
    height: fit-content;
    padding: 0;
    padding-top: 16px;
  }
}

.col-md-7 {
  text-align: left !important;
  margin-left: 0 !important;

  padding: 96px 96px 0px 0px;

  @media (max-width: 1024px) {
    padding: 16px 0px 0px 16px;
  }

  @media (max-width: 768px) {
    padding: 16px;
  }
  .text {
    color: white;
    width: 100% !important;
    margin-left: 0;



  }

  .card-title {
    color: white;
    width: 90% !important;
  }

  h2 {
    text-align: left !important;
  }
}

.col-md-5 {
  padding: 96px 0px 0px 96px;


  @media (max-width: 1024px) {
    padding: 48px 0px 0px 16px;
  }

  @media (max-width: 768px) {
    padding: 16px !important;
  }

  .photo {
    margin-right: 0;
    background-color: $grey-dark !important;
    background-size: cover !important;

    width: 400px !important;
    height: 450px !important;

    @media (max-width: 1024px) {
      margin: 0 auto;
      justify-content: center;
      width: 250px !important;
      height: 280px !important;
    }
  }
}

.item {
  @media (max-width: 1024px) {
    height: fit-content;
  }
}

.card {
  background-color: $yellow;
}

.row {
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
  width: 80%;
  justify-content: center;
  margin: 0 auto;

  @media only screen and (max-width: 320px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  @media only screen and (min-width: 321px) and (max-width: 767px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  @media only screen and (min-width: 1201px) {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}
.item-masonry {
  display: inline-block;
  background: #fff;
  padding: 0.5em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;

  .img {
    margin: 0 auto;
    width: 200px;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    padding: 1px;

  }

  .description {
    display: none;


  }
  &:hover {
    .description {
      display: block;
      margin-top: 16px;
    }

  }

}
.item-masonry img {
  max-width: 100%;
}

.swiper-container {
  margin-top: 48px;
  width: 90%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 300px;
  width: 300px;
  background-size: cover;
  cursor: pointer;
  background-color: $green-light;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-xxl {
  margin-top: 32px;
  width: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 800px;
    width: 600px;
    background-size: cover;
    cursor: pointer;
    background-color: $green-light;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

::ng-deep .swiper-pagination-bullet-active {
  background: $yellow;
}

.swiper-button-next {
  color: $yellow;
  font-size: 12px;
}

.swiper-button-prev {
  color: $yellow;
}

.modal-dialog {
  max-width: 1400px;
  max-height: 800px;
  .modal-content {
    border-radius: 0;

    .modal-header {
      border-bottom: none;
      height: 0;

      .close {
        font-size: 32px;
        font-weight: 0;
      }
    }

    .modal-body {
      padding: 0;
      text-align: center;
      justify-content: center;
      @media (max-width: 1024px) {
        height: 600px;
        width: 800px;
      }

      @media (max-width: 768px) {
        height: 540px;
        width: 720px;
      }
    }
  }
}


