<footer>
  <div class="row item">

    <div class="col-md-2">
      <div class="contacts">
        <div class=" mb-32">
          <h3 class="uppercase">{{"Footer.ContactsTitle" | translate}}</h3>
        </div>
        <div >
          <p class="p-yellow">Email </p>
          <p>{{"Footer.Email" | translate}}</p>
        </div>
        <div >
          <p class="p-yellow">Tlf. </p>
          <p>{{"Footer.Phone" | translate}}</p>
        </div>
        <div >
          <p class="p-yellow">Tel. </p>
          <p>{{"Footer.FixedPhone" | translate}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="contacts">
        <div class=" mb-32">
          <h3 class="uppercase">{{"Footer.AddressTitle" | translate}}</h3>
        </div>
        <div >
          <p>{{"Contacts.Address" | translate}}</p>
        </div>

        <div >
          <p>{{"Contacts.SecondAddress" | translate}}</p>
        </div>

        <div >
          <p>{{"Contacts.PostalCode" | translate}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="contacts">
        <img class="badge-pateo-lima" src="assets/images/badge-pateo-lima.svg" />
      </div>

    </div>


    <div class="col-md-5 ">
      <div class="contacts top-64">
        <div class="mb-32">
          <p>{{ "Footer.ReservationsText" | translate }}</p>
        </div>

        <div>
          <a href="{{'Contacts.BookingLink' | translate}}" left="0" class="btn btn-outline-secondary mb-72">{{ "Contacts.BookingButtonText" | translate }}</a>
        </div>




      </div>
    </div>
  </div>
  <div class="row second-item">
    <div class= "rules">
      <ul>
        <li><a href="#">{{ "Footer.TermsAndConditions" | translate }}</a> <p> | </p> </li>
        <li><a href="#">{{ "Footer.PrivacyPolicies" | translate }}</a> <p> | </p> </li>
        <li><a href="#">Cookie Law </a><i class="bi bi-circle-fill"></i> <svg xmlns="http://www.w3.org/2000/svg" position="relative" top= "50%" width="4" height="4" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
        </svg> RNET - 3819</li>
      </ul>
    </div>
    <a
      href="assets/files/ficha_projeto.pdf"
      target="_blank"
      class="btn btn-outline-secondary link-button uppercase project-file"
      >{{ "Footer.Link" | translate }}</a
    >
  </div>
</footer>
