@import "../assets/style/fonts/fonts-declarations.scss";
@import "../assets/style/colors.scss";

body {
  font-family: "Sarabun-Regular", sans-serif;
}

h1 {
  color: $grey-dark;
  font-family: "Sarabun-Bold", sans-serif;
  letter-spacing: 1px;
}

h2 {
  color: $grey-dark;
  font-family: "Sarabun-Medium", sans-serif;
  letter-spacing: 1px;
}

h3 {
  color: $grey-dark;
  font-family: "Sarabun-Regular", sans-serif;
  letter-spacing: 1px;
}

.button {
  color: $grey-dark;
  font-family: "Sarabun-Regular", sans-serif;
  letter-spacing: 1px;
}

.text {
  color: $grey-light;
  font-family: "SourceSerifPro-Regular", serif;
  letter-spacing: 1px;
}
