@import "../../../assets/style/mixins.scss";


h3{
    margin-left: 0 !important;
}



.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
  width: 60%;
  justify-content: center;
  margin: 0 auto;

  @media only screen and (max-width: 320px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 90%;
  }

  @media only screen and (min-width: 321px) and (max-width: 767px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 90%;
  }
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    width: 90%;
  }
  @media only screen and (min-width: 1201px) {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    width: 90%;
  }
}
.item-masonry {
 
  background: #fff;
  padding: 0.5em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 2px #ccc;

  @media (max-width: 1650px) {
    display: inline-grid;
  }

  .img {
    margin: 0 auto;
    width: 200px;
    justify-content: center;
    margin-bottom: 16px !important;

   

  }

  @media (max-width: 1024px) {
    padding: 1px;

  }

  .description {
    display: none;
  }

  p{
    font-family: "Sarabun-Bold", sans-serif !important;
    align-items: center; 
    padding-bottom: 0px !important;
}

}
.item-masonry img {
  max-width: 100%;
  user-select: none;
}