<div class="card text-center">
  <div class="card-body">
    <h2 class="card-title mt-160 mb-96">{{title}}</h2>
    <p class="text">{{tooltip}}</p>
  </div>
</div>


<div class="container">
  <ng-container *ngFor="let reference of references; ;let i = index">
    <div class="item-masonry">
      <img src="{{reference.Images[0].Path}}" alt="{{reference.Images[0].Description}}" (click)="openImage(i)">
      <p class="text text-center"><b>{{reference.Name}}</b></p>
    </div>
  </ng-container>
</div>

<button id="openModal" #openModal [hidden]="true" data-toggle="modal" data-target="#openingModal"></button>
<div class="modal modal-opening" id="openingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" data-dismiss="modal" aria-label="Close">
        <button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="swiper-container swiper-container-xxl mySwiper-xxl">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let reference of references; let i = index">
              <div class="swiper-slide">
                <div >
                  <div class="row mb-32">
                    <div class="col-md-7 first-column">
                      <h2>{{reference.Name}}</h2>
                      <p class="text">{{reference.Description}}</p>
                    </div>
                    <div class="col-md-5 second-column">
                      <h2 class ="mb-32 mt-32">Recomendações</h2>
                      <ng-container *ngFor="let recomendation of reference.Recomendations; let i = index">
                        <div class="recomentation-container">
                          <img src = "{{recomendation.IconPath}}"/>
                          <p>{{recomendation.Text}}</p>
                        </div>
                      </ng-container>
                      
                      <a *ngIf="reference.Link != null" href="{{reference.Link | translate}}" target="_blank" left="0"
                      class="btn btn-outline-secondary mb-32 bookingLink">Localização</a>
                    </div>
                  </div>
                  
                 <div class="row" *ngIf="reference.MainImage != null">
                  <div class="col-md-12 main-image" style="background-image: url({{reference.MainImage}})" >
                  </div>
                </div>
                  

              
                </div>
              </div>
            </ng-container>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      

      </div>
    </div>
  </div>
</div>