@import "../../../assets/style/mixins.scss";


h3 {
  margin-left: 0 !important;
}

.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
  width: 80%;
  justify-content: center;
  margin: 0 auto;

  @media only screen and (max-width: 320px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  @media only screen and (min-width: 321px) and (max-width: 767px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  @media only screen and (min-width: 1201px) {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;

  @media only screen and (max-width: 320px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  @media only screen and (min-width: 321px) and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.item-masonry {
  display: inline-block;
  background: #fff;
  padding: 0.5em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 2px #ccc;
  cursor: pointer;


  img {
    margin: 0 auto;
    height: 200px;
    background-size: cover !important;

    @media only screen and (max-width: 767px) {
      height: 90%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1025px) {
      height: 80%;
    }

    justify-content: center;
  }

  .text {
    margin-top: 8px;

  }

  @media (max-width: 768px) {
    padding: 16px;

  }

  .description {
    display: none;
  }

  p {
    font-family: "Sarabun-Bold", sans-serif !important;
    align-items: center;
    padding-bottom: 0px !important;

  }

}

.item-masonry img {
  max-width: 100%;
  user-select: none;
}

.swiper-container {
  margin-top: 48px;
  display: grid;
  height: 90%;
}

.swiper-container-xxl {
  margin-top: 32px;

  .swiper-slide {
    background-color: white !important;
    align-items: baseline;
    font-size: 18px;
    width: 90%;

    @media (max-width: 768px) {
      font-size: 16px;
      height: fit-content !important;
    }

    cursor: pointer;

    .row {
      width: 90%;

      display: -webkit-inline-box;

      .first-column {
        padding: 16px !important;
        display: grid;
        align-items: center;

        p {
          padding: 16px !important;

          @media (max-width: 768px) {

            padding: 0px !important;
            padding-top: 16px !important;
            text-align: left;
          }
        }
      }

      .second-column {

        padding: 16px;
        background-color: $green-light;
        height: fit-content;


        h2 {
          color: white;

          @media (max-width: 768px) {
            font-size: medium;

          }
        }

        .recomentation-container {
          display: flex;
          align-items: left;
          flex-direction: row;

          img {
            padding: 16px;
            padding-left: 0;
          }

          p {
            text-align: left;
            color: white;
            margin-bottom: 0;
          }
        }

        .btn-outline-secondary {
          margin-top: 16px;
          border: 1px solid $white;
          color: white;
        }
      }
    }


  }
}

::ng-deep .swiper-pagination-bullet-active {
  background: $green-dark;
}

.swiper-button-next {
  color: $green-dark;
  font-size: 12px;
}

.swiper-button-prev {
  color: $green-dark;
}

.modal-dialog {
  max-width: 1200px;

  .modal-content {

    @media (max-width: 1366px) {
      width: 95%;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      height: 800px;
    }

    border-radius: 0;

    .modal-header {
      border-bottom: none;
      height: 0;

      .close {
        font-size: 32px;
        font-weight: 0;
      }
    }

    .modal-body {
      padding: 0;
      text-align: center;
      justify-content: center;


    }
  }
}
