@import "../../../assets/style/mixins.scss";

footer {
  margin-top: 50px;
  color: #ffffff;
  height: 100px;
  bottom: 0;
  width: 100%;

  .row{
    margin-left: 0;
  }

  .item {
    padding: 20px;
    height: 248px;
    width: 100%;
    background-color: $green-dark;
  }

  .second-item {

    padding: 20px;
    height: 96px ;
    width: 100%;
    background-color: $green-light;
  }
}

a{
  color: #ffffff;
  &:hover{
    color: $grey-dark;
    background-color: #ffffff;
  }
}

.right {
  position: absolute;
  margin: 0 auto;
  right: 16px;
}
