<footer>
  <div class="row item">
    <div class="col-md-2">
      <div class="text text-center">CONTACTOS</div>
    </div>
    <div class="col-md-4">
      <div class="text text-center">MORADA</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="text text-center">LOGOTIPO</div>
    </div>
    <div class="col-md-4 text-center">
      <div class="text text-center">PATROCIONIOS</div>
    </div>
  </div>
  <div class="row second-item">

    <a href="#" class="btn btn-outline-secondary link-button uppercase right">{{
      "Footer.Link" | translate
    }}</a>
  </div>
</footer>
