<footer>
  <div class="row item">

        <div class="col-2">
          <div class = "text text-center">
            CONTACTOS
          </div>
        </div>
        <div class="col-4">
          <div class = "text text-center">
            MORADA
          </div>
        </div>
        <div class="col-2 text-center">
          LOGOTIPO
        </div>
        <div class="col-4 text-center">
         PATROCIONIOS
        </div>



  </div>
  <div class="row second-item">
    <div class="text push-right">
      <a href="#" class="btn btn-outline-secondary link-button">{{
        "Footer.Link" | translate
      }}</a>
     </div>
  </div>
</footer>
